.btnWhite {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPrimary {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    background: #1363DF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}