.containerIndicator { 
    display: flex;
    flex-direction: column;
    width: 100%; 
}


.boxIndicatorDataPersonal,.boxIndicatorPendidikan,.boxIndicatorKerja,.boxIndicatorKeahlian {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center; 
    justify-content: center;
}

.boxText {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 13%;
  }

.circleDataPersonal, .circlePendidikan, .circleKerja, .circleKeahlian {
    height: 15px;
    width: 15px;
    background: grey;
    border-radius: 100px;
}

.rectangle {
    height: 2px;
    width: 20%;
    min-width: 75px;
    background: grey;
}


/* Data Personal */
.boxIndicatorDataPersonal .circleDataPersonal {
    height: 15px;
    width: 15px;
    background: skyblue;
    border-radius: 100px; 
}


/* Pendidikan */
.boxIndicatorPendidikan > .circleDataPersonal, .boxIndicatorPendidikan > .circlePendidikan {
    height: 15px;
    width: 15px;
    background: skyblue;
    border-radius: 100px; 
}

/* Kerja */
.boxIndicatorKerja > .circleDataPersonal, .boxIndicatorKerja > .circlePendidikan, .boxIndicatorKerja > .circleKerja {
    height: 15px;
    width: 15px;
    background: skyblue;
    border-radius: 100px; 
}


/* Keahlian */
.boxIndicatorKeahlian > .circleDataPersonal, .boxIndicatorKeahlian > .circlePendidikan, .boxIndicatorKeahlian > .circleKerja, .boxIndicatorKeahlian > .circleKeahlian {
    height: 15px;
    width: 15px;
    background: skyblue;
    border-radius: 100px; 
}